<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr:hover {
    background-color: coral;
  }
</style>

<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/create">Create user</a>

  </div>

  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th>
        Action
      </th>
    </tr>

    <% users.forEach(function(user) { %>
      <tr>
        <td>
         
          <%= user.id %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.city %>
        </td>
        <td>
          <button
          onclick="window.location.href='/user/<%= user.id %>'"
          >
            Edit
          </button>
          <button
          onclick="window.location.href='/delete/<%= user.id %>'"
          >
            Delete
          </button>
        </td>
      </tr>
      <% }); %>


  </table>

  </div>
</body>

</html>